@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

.algodesign {
    position: absolute;
    right: 5rem;
    top: 3rem;
    width: 650px;
    height: 500px;
    background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
    border-radius: 20px;
    transform: perspective(1000px) rotateY(-15deg)rotateX(10deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

div {
    display: block;
}

.algo {
    position: absolute;
    width: 300px;
    height: 160px;
    background: #1d1e22;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
    /* transform: perspective(1000px) rotateY(-15deg)rotateX(10deg); */
    opacity: 0;
    transform: translateY(-100%);
    /* animation: dropIn 0.5s ease-out forwards; */
    animation: popOutAnimation 0.3s ease forwards;

}

/* @keyframes dropIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

@keyframes popOutAnimation {
    from {
        transform: translate(-50%, 0) scale(0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

.algo header svg {
    margin: 10px;
}

.algo header {
    display: grid;
    grid-template-columns: 36px auto 36px;
    align-items: center;
}

.algo header h1 {
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 1.57px;
    color: #c5c8d4;
    margin: 0.5rem;
}

.sidebar {
    flex: 1 1 60%;
    margin: 20px 0px 0px 20px;
    position: absolute;
    width: 250px;
    height: 460px;
    background: #1d1e2267;
    /* background-color: #02203c; */
    background-color: #1d1e22;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0;
    transform: translateY(-100%);
    animation: popOutAnimation 0.3s ease forwards;
}

.sidebar-header {
    align-items: center;
    color: #bfc1cb;
    font-weight: 900;
    letter-spacing: 1.57px;
    margin-top: 0.9rem;
    /* border-radius: 5px; */
    background-color: rgb(40, 71, 98); 
    border-bottom: 15px solid #6d7175;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
    display: flex;
    flex: 0 0 auto;
    font-size: 25px;
    font-weight: 600;
    height: 30px;
    position: relative;
    /* z-index: ; */
}

.sidebar-title {
    margin-left: 0.9rem;
    margin-top: 0.5rem;
}

.sidebar-blocks {
    flex: 1 1 auto;
    overflow: auto;
    padding: 10px;
    position: absolute;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    /* scrollbar-color: #a0a0a0 transparent;
    scrollbar-width: thin; */
    /* z-index: 3; */
}

.prompt {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: JetBrains Mono, monospace;
}

.block {
    background-color: rgb(40, 71, 98);
    border-radius: 10px;
    height: 25px;
    line-height: 22.85px;
    margin: 0 0 20px;
    box-sizing: border-box;
    display: block;
}

@keyframes expandAnimation {
    0% {
        width: 0;
    }
}

.b1 {
    width: 210.9px;
    animation: expandAnimation 2s forwards;
}

.b2 {
    width: 200px;
    animation: expandAnimation 1.5s forwards;
}

.b3 {
    width: 186.2px;
    animation: expandAnimation 1s forwards;
}

.b4 {
    width: 215.8px;
    animation: expandAnimation 2s forwards;
}

.b5 {
    width: 205.1px;
    animation: expandAnimation 2.5s forwards;
}

.b6 {
    width: 221px;
    animation: expandAnimation 2s forwards;
}

.b7 {
    width: 214px;
    animation: expandAnimation 1s forwards;
}

.b8 {
    width: 190px;
    animation: expandAnimation 1.5s forwards;
}

.java {
    right: 50px;
    top: 5px;
}

.java-box {
    margin: 0 10px 10px;
}

java-box,
.java-box code {
    font-size: 2vmin;
    font-family: JetBrains Mono, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
}

.string {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.greeting {
    top: 10.9vmin;
}

.es {
    color: #c678dd;
}

.de {
    color: #c678dd;
}

.it {
    color: #a9b0bd;
}

@keyframes move {
    25% {
        transform: translatey(-5vmin);
        opacity: 1;
    }

    50% {
        transform: translatey(-15vmin);
    }

    75% {
        transform: translatey(-16.5vmin);
    }
}


.cplus {
    right: 5px;
    top: 170px;
}

.cplus-box {
    margin: 0 10px 10px;
}

cplus-box,
.cplus-box code {

    font-size: 13px;
    line-height: 1.3;
    font-family: JetBrains Mono, monospace;

}

.c1 {
    margin-top: 10rem;
    color: #d3d3d3;
    margin-left: 1rem;
}

.c1-1 {
    color: #ff7b72;
}

.c1-2 {
    color: #d2a8ff;
}

.c2 {
    color: #d3d3d3;
    margin-left: 3rem;
}


.c3 {
    color: #d3d3d3;
    margin-left: 3rem;
}

.c3-1 {
    color: #ffa657;
}

.c3-2 {
    color: #a5d6ff;
}

.c4 {
    color: #d3d3d3;
    margin-left: 3rem;
}

.c5 {
    color: #d3d3d3;
    margin-left: 3rem;
}

.c6 {
    color: #79c0ff;
    margin-left: 3rem;
}

.c7 {
    color: #d3d3d3;
    margin-left: 1rem;
}


.cplus-box p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
}

.algo.python {
    right: 50px;
    top: 335px;
}

.python-box {
    margin: 0 10px 10px;
    /* color: var(--cp-color-1); */

}

python-box,
.python-box code {
    /* font-family: var(--cp-font-family-monospace); */
    font-size: 13px;
    line-height: 1.3;
    margin-left: 2rem;
    font-family: JetBrains Mono, monospace;
}

.p1 {
    color: lightblue;
}

.p2 {
    color: #d3d3d3;
}

.p3 {
    color: lightcoral;
}

.p4 {
    color: lightgreen;
}


/* @media (max-width: 550px)
.algo.python {
    top: 200px;
    left: 7.5%;
    margin-left: 0;
    z-index: 4;
}

@media (max-width: 1100px)
.algo.python {
    top: 150px;
    left: 50%;
    margin-left: -250px;
    z-index: 4;
} */